div.Slide
	h1 Устройство программы
	h2 Хранилище
	p Интерфейс хранилища интуитивно понятен. Ничего лишнего. Панель меню, вкладки, панель кнопок, таблица с данными и колонка с формой поиска
	div
		img(src=offset+"images/presentation-general-1.png")
div.Slide
	h1 Устройство программы
	h2 Хранилище
	p Информацию можно сортировать, просто нажмите на заголовок колонки. Вы также можете убрать колонку с экрана. Ни сложней чем работать с ОС Window!
	div
		img(src=offset+"images/presentation-general-2.png")
div.Slide
	h1 Устройство программы
	h2 Хранилище
	p Размер колонки можно увеличить или уменьшить. Делается это также как и в ОС Windows. Подведя курсор мыши к края колонки, курсор мыши примет другой вид. Далее просто потяните влево или вправо
	div
		img(src=offset+"images/presentation-general-3.png")
div.Slide
	h1 Устройство программы
	h2 Хранилище
	p Искать информацию просто. Набирите в поле поиска строку поиска и нажмите кнопку Искать. Результат поиска тут же отобразится в таблице.
	div
		img(src=offset+"images/presentation-general-4.png")
div.Slide
	h1 Устройство программы
	h2 Хранилище
	div
		div.Col(style="width: 67%")
			p Обратите внимание на панель Фильтр. Используя ее вы можете гибко настраивать представление в таблице. Можно выбрать по дате, можно по категории и т.д.
			p Поля формы меняются в зависимости от структуры данных вкладки. Если есть поля типа Дата, то в панели фильтр также будут поле для выбора промежутка времени.
			p Вы также можете отобрать для показа несколько записей, перечислив их идентификаторы в поле id через запятую, например: 1,10,110
		div.Col
			img(src=offset+"images/presentation-general-5.png")
